<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dodaj Użytkownika - SmartHome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/jqueryUiMin.css">
    <link rel="stylesheet" href="../css/admin/user.css">
    <link rel="stylesheet" href="../css/admin/form.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/fontello/css/fontello.css">
    <script src="../js/jQueryMin.js"></script>
    <script src="../js/jQueryUIMin.js"></script>
    <script src="../js/admin/main.js"></script>
    <script src="../js/admin/pages/addUser.js"></script>
</head>

<body>
    <div id="err-msg"></div>
    <div id="msg"></div>
    <div class="background-container"></div>
    <div class="banner">
        <div class="menu">
            <ul id="topMenu"></ul>
        </div>
        <div id="usermenu">
            <ul id="menu">
                <li id="userLi">
                    <a href="#">
                        <img id="userAvatar" class="user_img" alt="user image">
                        <span id="nickname" class="nickname">Marek</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-body">
        <div class="body-form">
            <h1>Dodaj Użytkownika</h1>
            <hr>
            <div class="wiersz"> Imie : <input id="name"></div>
            <div class="wiersz"> Nazwisko : <input id="surname"></div>
            <div class="wiersz"> Nick : <input id="nick"></div>
            <div class="wiersz"> E-mail : <input type="email" name="email"></div>
            <div class="wiersz"> Hasło : <input type="password" id="password"></div>
            <div class="wiersz"> Powtórz Hasło : <input type="password" id="rePassword"></div>
            <div class="wiersz"> Admin : <input type="checkbox" id="admin"></div>
            <div class="wiersz"> 
                Kolor interfejsu: <select id="color">
                    <option value="green">Zielony</option>
                    <option value="yellow">Żółty</option>
                    <option value="blue">Niebieski</option>
                </select>
            </div>
            
            <div class="wiersz"></div>
            <div class="wiersz"><button id="clear">Wyczyść <i class="icon-trash"></i></button><button id="save">Zapisz
                    <i class="icon-save"></i></button></div>
        </div>
    </div>
</body>

</html>