<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Funkcji - SmartHome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/jqueryUiMin.css">
    <link rel="stylesheet" href="../css/admin/list.css">
    <link rel="stylesheet" href="../css/admin/functionFull.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/fontello/css/fontello.css">
    <script src="../js/jQueryMin.js"></script>
    <script src="../js/jQueryUIMin.js"></script>
    <script src="../js/admin/main.js"></script>
    <script src="../js/admin/full_function.js"></script>
    <script src="../js/admin/pages/automationsList.js"></script>
</head>

<body>
    <div id="err-msg"></div>
    <div id="msg"></div>
    <div class="background-container"></div>
    <div class="banner">
        <div class="menu">
            <ul id="topMenu">

            </ul>
        </div>
        <div id="usermenu">
            <ul id="menu">
                <li id="userLi">
                    <a href="#">
                        <img id="userAvatar" class="user_img" alt="user image">
                        <span id="nickname" class="nickname">Marek</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-body">
        <div class="list">
            <div class="header"><h1>Lista Funkcji</h1></div>
            <div class="fullFunction">
                <div class="id">1</div>
                <div class="name">Marek Światła</div>
                <div class="actions">Akcji: 2</div>
                <div class="stan">Stan Aktywna</div>
                
                <div class="icon">
                    <i class="icon-sliders"></i>
                </div>
                <div class="icon">
                    <i class="icon-trash"></i>
                </div>
            </div>
        </div>

    </div>
</body>

</html>