<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edytuj Termometr - SmartHome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/jqueryUiMin.css">
    <link rel="stylesheet" href="../css/admin/form.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/fontello/css/fontello.css">
    <script src="../js/jQueryMin.js"></script>
    <script src="../js/jQueryUIMin.js"></script>
    <script src="../js/admin/main.js"></script>
    <script src="../js/admin/pages/editThermometr.js"></script>
</head>

<body>
    <script th:inline="javascript">id = /*[[${thermometrID}]]*/ 0</script>
    <div id="err-msg"></div>
    <div id="msg"></div>
    <div class="background-container"></div>
    <div class="banner">
        <div class="menu">
            <ul id="topMenu"></ul>
        </div>
        <div id="usermenu">
            <ul id="menu">
                <li id="userLi">
                    <a href="#">
                        <img id="userAvatar" class="user_img" alt="user image">
                        <span id="nickname" class="nickname">Marek</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-body">
        <div class="body-form">
            <h1>Edytuj Termometr</h1>
            <hr>
            <div class="wiersz"> Nazwa Termometru : <input id="name" th:value="${therName}"></div>
            <div class="wiersz"> Pokój : <select id="room"><option value="0">Brak Pokoi</option></select></div>
            <!-- <div class="wiersz"> Adres Slave-a: <input id="boardID" th:value="${slave}"></div> -->
            <div class="wiersz"></div>
            <div class="wiersz"><button id="clear" class="toHide">Wyczyść <i class="icon-trash"></i></button><button id="save">Zapisz <i class="icon-save"></i></button></div>
        </div>
    </div>
</body>

</html>