<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/admin/main.css">
    <link rel="stylesheet" href="../css/themes/blue.css">
    <script src="../js/jQueryMin.js"></script>
    <script src="../js/admin/test.js"></script>
</head>

<body>
    <div id="err-msg"></div>
    <div class="background-container"></div>
    <div class="banner">
        <div class="menu">
            <ul id="topMenu">
                    <li> <a href="#">abecadło z pieca spadło</a>
                        <ul>
                            <li><a href="##">ala ma kota</a></li>
                            <li><a href="###">kot ma alę</a></li>
                        </ul>
                    </li>
                <li><a href="#">aaaaa</a></li>
            </ul>
        </div>
    </div>
    <div id="main-body">
        Admin home page
    </div>
</body>

</html>