<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/themes/blue.css">
    <link rel="stylesheet" href="../css/admin/device.css">
    <link rel="stylesheet" href="../css/admin/main.css">
    <link rel="stylesheet" href="../css/fontello/css/fontello.css">
    <script src="../js/jQueryMin.js"></script>
    <script src="../js/admin/test.js"></script>
    <script src="../js/admin/device.js"></script>
</head>

<body>
    <div id="err-msg"></div>
    <div class="background-container"></div>
    <div class="banner">
        <div class="menu">
            <ul id="topMenu">
            
            </ul>
        </div>
        <div id="usermenu">
            <ul id="menu">
                <li id="userLi">
                    <a href="#">
                        <img  id="userAvatar" class="user_img" alt="user image">
                        <span id="nickname" class="nickname">Marek</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-body">
        <div class="device">
            <div class="deviceIcon">
                <i class="icon-lightbulb"></i>
            </div>
            <div class="deviceDescribe">
                <span class="deviceDescribeText">Światlo Główne</span>
            </div>
        </div>
        <div class="device">
            <div class="deviceIcon">
                <i class="icon-lightbulb"></i>
            </div>
            <div class="deviceDescribe">
                <span class="deviceDescribeText">Światlo Główne</span>
            </div>
        </div>
    </div>
</body>

</html>