<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Sensorów - SmartHome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/jqueryUiMin.css">
    <link rel="stylesheet" href="../css/admin/list.css">
    <link rel="stylesheet" href="../css/admin/sensorFull.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/fontello/css/fontello.css">
    <script src="../js/jQueryMin.js"></script>
    <script src="../js/jQueryUIMin.js"></script>
    <script src="../js/admin/main.js"></script>
    <script src="../js/admin/full_sensor.js"></script>
    <script src="../js/admin/pages/sensorList.js"></script>
</head>

<body>
    <div id="err-msg"></div>
    <div id="msg"></div>
    <div class="background-container"></div>
    <div class="banner">
        <div class="menu">
            <ul id="topMenu">

            </ul>
        </div>
        <div id="usermenu">
            <ul id="menu">
                <li id="userLi">
                    <a href="#">
                        <img id="userAvatar" class="user_img" alt="user image">
                        <span id="nickname" class="nickname">Marek</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-body">
        <div class="list">
            <div class="header"><h1>Lista Sensorów</h1></div>
            <!-- <div class="fullSensor">
                <div class="sensorIcon"><i class="icon-thermometer"></i></div>
                <div class="sensorName">Marek</div>
                <div class="roomName">Marek</div>
                <div class="slave">Slave: 8</div>
                <div class="adress">Adres: 28 FF C4 6D 6E 18 01 ED</div>
                <div class="value">temperatura: 20&deg;</div>
                <div class="icon" title="Usuń"><i class="icon-trash"></i></div>
                <div class="icon" title="Edytuj"><i class="icon-sliders"></i></div>
            </div> -->
            <!--
            <div class="fullSensor">
                <div class="sensorIcon"><i class="icon-logout rm90"></i></div>
                <div class="sensorName">Marek</div>
                <div class="slave">Slave: 8</div>
                <div class="pin">Pin: 13</div>
                <div class="clickFunctionNum">Funkcji Kliknięcia: 1</div>
                <div class="holdFunctionNum">Funkcji Przytrzymania: 0</div>
                <div class="icon" title="Usuń"><i class="icon-trash"></i></div>
                <div class="icon" title="Edytuj"><i class="icon-sliders"></i></div>
            </div> -->
        </div>

    </div>
</body>

</html>