.showupWindow{
    display: none;
    position: absolute;
    width: calc(100vw - 1em);
    height: calc(100vh - 6em);
    z-index: 10;
    background-color: #000000EE;
    color: var(--primaryTextColor);
    padding: 3em 1em;
    overflow: auto;
    cursor: pointer;
}
.body-form{
    cursor: default;
}
#modifyClickFunction,
#addClickFunction{
    float: right;
}
#modifyClickFunction:hover,
#addClickFunction:hover {
    background-color: var(--secondaryColor);
    color: var(--secondaryTextColor);
    transition: 200ms;

    cursor: pointer;
}

.level1{
    z-index: 10;
}
.level2{
    z-index: 11;
}
.level3{
    z-index: 12;
}
#listClickFunctionWindow .wiersz {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
#listClickFunctionWindow .body-form {
    width: 80%;
}
#listClickFunctionWindow .function_list{
    width: calc(100% - 20px);
    background-color: var(--primaryDarkColor);
    padding: 5px 10px;
}
#listClickFunctionWindow .clicks{
    display: block;
    width: 200px;
    float: left;
}
#listClickFunctionWindow .deviceType{
    display: block;
    width: 300px;
    float: left;
}   
#listClickFunctionWindow .deviceName{
    display: block;
    width: 300px;
    float: left;
}
#listClickFunctionWindow .stan{
    display: block;
    width: 300px;    
    float: left;
}
#listClickFunctionWindow .icon {
    float: right;
    padding: 0 10px;
    cursor: pointer;
}

#listClickFunctionWindow .icon:hover .icon-sliders {
    color: var(--secondaryColor);
}

#listClickFunctionWindow .icon:hover .icon-trash {
    color: var(--errorColor);
}