.body-form{
    padding: 20px;
    margin: 0px;
    width: 50%;
    margin: auto;
    background-color: var(--primaryColor);
    overflow: auto;
}
.body-form .wiersz{
    padding-top: 5px;
    font-size: 30px;
    line-height: 40px;
    min-height: 40px;
}
.body-form h1{
    font-size: 40px;
}
.body-form hr{
    margin-top: 0px;
    margin-bottom: 20px;
    border-color: var(--primaryTextColor);
    border-style: solid;
}
.body-form button{
    display: block;
    background-color: var(--primaryDarkColor);
    color: var(--primaryTextColor);
    font-size: 15px;
    min-height: 40px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-style: none;
    float: left;
    transition: 500ms;
}
.body-form button#clear:hover{
    background-color: var(--errorColor);
    color: var(--errorTextColor);
    transition: 200ms;
}
.body-form button#save{
    float: right;
}

.body-form button#save:hover{
    background-color: var(--secondaryColor);
    color: var(--secondaryTextColor);
    transition: 200ms;

    cursor: pointer;
}
.body-form button#rm{
    float: right;
}

.body-form button#rm:hover{
    background-color: var(--errorColor);
    color: var(--errorTextColor);
    transition: 200ms;
    cursor: pointer;
}
.body-form input{
    padding: 5px;
    border: 0px ;
    font-size: 20px;
    background-color: var(--primaryDarkColor);
    color: var(--primaryTextColor);
}
.body-form input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.body-form input:focus{
    background-color: var(--primaryLightColor);
}
.body-form input:hover{

    background-color: var(--primaryLightColor);
}
.body-form select{
    padding: 5px;
    border: 0px ;
    font-size: 20px;
    background-color: var(--primaryDarkColor);
    color: var(--primaryTextColor);
}
.body-form select:focus{
    background-color: var(--primaryLightColor);
}
.body-form select:hover{

    background-color: var(--primaryLightColor);
}

.toHide{
    display: none;
}
.clickable,
.clickable::before{
    transition: 250ms;
    cursor: pointer;
}
.clickable:hover {
    transition: 500ms;
    color: var(--secondaryColor);
    transform: rotate(180deg);
}
.clickable:hover::before {
    transition: 500ms;
    color: var(--secondaryColor);
    transform: rotate(180deg);
}

.icon{
    transition: 500ms;
    color: var(--primaryTextColor);
}

.iconDelete:hover{
    transition: 500ms;
    color: var(--errorColor) !important;
}

.icon:hover{
    transition: 500ms;
    color: var(--secondaryColor);
    cursor: pointer;
}

table.form_table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    color: var(--primaryTextColor);
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

table.form_table tr{
    border-style: solid;
    border-width: 1px;
    border-color: var(--primaryTextColor);
    background-color: var(--primaryColor);
    color: var(--primaryTextColor);
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
table.form_table th{
    font-weight: normal;
}
table.form_table td,
table.form_table th{
    border-left: 1px solid var(--primaryTextColor);
}

table.form_table td:first-child,
table.form_table th:first-child{
    border-left: none;
}

table.form_table td select{
    width: 100%;
    border: 0px;
    font-size: 20px;
    background-color: var(--primaryDarkColor);
    color: var(--primaryTextColor);
}