:root{
	--background-color: #F0F0F0;
	/* --background-image: url(../../img/lawenda.jpg); */
}
body{
	margin: 0;
	background-color: var(--background-color);
}
#err-msg{
	display: none;
	cursor: pointer;
	position: fixed;
	top: 45%;
	color: var(--errorTextColor);
	background-color: var(--errorColor);
	width: 50%;
	max-width: 50%;
	padding: 10px;
	border-radius: 10px;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	z-index: 100;
	left: calc(25% - 10px);
}
.background-container{
	position: fixed;
	display: block;
	z-index: -1;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background-image: var(--background-image);
	background-size: cover; 
	background-position: center;
	/* background-color: var(--primaryDarkColor); */
	background-color: var(--background-color);
	background-attachment: fixed;
	filter: blur(10px);
	transform: scale(1.1);
}
.container{
	margin: 0;
	padding: 0;
	
}
.banner{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 10px);
	height: 50px;
	padding: 0 5px 0 5px ;
	background-color: var(--primaryColor);
	color: var(--primaryTextColor);
}
.banner-user{
	display: block;
	width: 100%;
	height: auto;
	min-height: 50px;
	transition: 500ms;
}
.user-img{
	width: 100%;
	height: 50px;
}
.user-img img{
	border-radius: 1em;
}
.user-icons{
	display: block;
}
.user-icons-pos{
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: black;
	color: #ffffff;
	transition: 250ms;
}
.user-icons-pos:hover{
	background-color: #111111;
}
.banner .menu{
	display: block;
	width: calc(100% - 210px);
	float: left;
}

.banner .menu ul{
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
.banner .menu ul > li{
	display: block;
	float: left;
	min-height: 50px;
	line-height: 50px;
	width: 200px;
	background-color: var(--primaryColor);
}	
.banner .menu a{
	width: 100%;
	height: 100%;
	display: block;
	float: left;
 	text-align: center;
 	text-decoration: none;
	color: var(--primaryTextColor);
	transition: 400ms;
	
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.banner .menu a:hover{
}
.banner .menu ul > li:hover{
	display: block;
	background-color: var(--primaryLightColor);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.banner .menu ul > li:first-child:hover{
	display: block;
	background-color: var(--primaryLightColor);
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.banner .menu ul > li:hover ul{
	display: block;
}
.banner .menu ul>li>ul{
	display: none;
  	transition: 1s;
	float: none;
	position: relative;
	height: auto;
	margin: 0;
	padding: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.banner .menu ul > li > ul > li{
	min-height: 50px;
	line-height: 50px;
	width: 200px;

    
}
.banner .menu ul > li > ul > li:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#main-body{
	padding: 10px;
	padding-top: 60px;
	color: var(--primaryTextColor);
}

.user_img{
	float: right;
	height: 40px;
	border-radius: 40px;
	margin: 5px;
}
.nickname{
	float: right;
	text-align: right;
	margin: 0 5px 0 5px;
}
#usermenu #menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
	float: right;
	min-height: 50px;
	line-height: 50px;
	max-width: 200px;
	background-color: var(-secondaryColor);
}
#usermenu #menu ul > li{
	display: block;
	float: left;
	min-height: 50px;
	line-height: 50px;
	max-width: 200px;
}
#usermenu #menu a{
	width: 100%;
	height: 100%;
	display: block;
	float: left;
 	background-color: var(--primaryColor);
 	text-align: center;
 	text-decoration: none;
	color: var(--primaryTextColor);
	transition: 400ms;
}
#usermenu #menu a:hover{
	background-color: var(--primaryLightColor);
}
#usermenu #menu li:hover ul{
	display: block;
	
}
#usermenu #menu li>ul{
	display: none;
  	transition: 1s;
	float: none;
	position: relative;
	height: auto;
	margin: 0;
	padding: 0;
}

#usermenu #menu  li > ul > li{
	min-height: 50px;
	line-height: 50px;
	width: 200px;

	
}

#usermenu #menu li > ul > li:last-child a	{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#usermenu #menu  li > ul > li > a{

	
	padding: 0 5px 0 5px;
}
