:root{
	--background-color: #0b006d;
	--background-image: url(../img/21.jpg);
}
body{
	margin: 0;
	background-color: var(--background-color);
}
.background-container{
	position: fixed;
	display: block;
	z-index: -1;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background-image: var(--background-image);
	background-size: cover; 
	background-position: center;
	background-color: #000000;
	background-attachment: fixed;
	filter: blur(10px);
	transform: scale(1.1);
}
.container{
	margin: 0;
	padding: 0;
	
}
.banner{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	background-color: red;
}
.banner-user{
	display: block;
	width: 100%;
	height: 50px;
	transition: 500ms;
}
.banner-user:hover{
	background-color: black; /*zmienić na coś sensownego*/
}
.menu{
	display: block;
	width: 100%;
}

.menu ul{
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.menu li{
	min-height: 50px;
	line-height: 50px;
}
.menu a{
	width: 100%;
	display: block;
 	background-color: blue;
 	text-align: center;
 	text-decoration: none;
	color: #000000;
	transition: 400ms;
}
.menu a:hover{
	background-color: cadetblue;
}