<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SmartHome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/jqueryUiMin.css">
    <link rel="stylesheet" href="../css/user/device.css">
    <link rel="stylesheet" href="../css/user/sensor.css">
    <link rel="stylesheet" href="../css/user/list.css">
    <link rel="stylesheet" href="../css/user/room.css">
    <link rel="stylesheet" href="../css/user/main.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/fontello/css/fontello.css">
    <script src="../js/jQueryMin.js"></script>
    <script src="../js/jQueryUIMin.js"></script>
    <script src="../js/user/main.js"></script>
    <script src="../js/user/pages/mainscreen.js"></script>
    <script src="../js/user/device.js"></script>
    <script src="../js/user/sensor.js"></script>
    <script src="../js/user/room.js"></script>
</head>

<body>
    <div id="err-msg"></div>
    <div id="msg"></div>
    <div class="background-container"></div>
    <div class="banner">
        <div class="menu">
            <ul id="topMenu">

            </ul>
        </div>
        <div id="usermenu">
            <ul id="menu">
                <li id="userLi">
                    <a href="#">
                        <img id="userAvatar" class="user_img" alt="user image">
                        <span id="nickname" class="nickname">Marek</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main-body">

    </div>
</body>

</html>