<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <a href="Sumowanie">
        <div class="menupos">
            Operacje Sumowania
        </div>
    </a>
    <a href="OperacjeGeometryczne">
        <div class="menupos">
            Operacje Geometryczne
        </div>
    </a>
    <a href="OperacjeNaHistogramie">
        <div class="menupos">
            Operacje Na Histogramie
        </div>
    </a>
</body>

</html>