<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Login</title>
    <link href="/css/login.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/jQueryMin.js"></script>
    <script src="/js/jQueryUIMin.js"></script>
    <script src="/js/login.js"></script>
</head>

<body>

    <script th:inline="javascript">var link = /*[[${link}]]*/ -1</script>
    <div class="background-container"></div>
    <div class="login-container">
        <div class="login-form">
            <h3>Logowanie do systemu</h3>
            <form id="loginform" action="javascript:void(0);" method="post">
                <div id="err-msg"></div>
                <div class="login-field">
                    <input type="text" class="form-control" placeholder="Twój Login *" value="" name="login" id="login" />
                </div>
                <div class="login-field">
                    <input type="password" class="form-control" placeholder="Twoje Hasło *" value="" name="pass" id="pass" />
                </div>
                <div class="login-field btn-field">
                    <input type="submit" id="subbutton" class="btnSubmit" value="Zaloguj" />
                </div>
            </form>
        </div>
    </div>
</body>

</html>