<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>SmartHome</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/fontello/css/fontello.css">
</head>
<body>
    <div class="background-container"></div>
    <div class="container">
        <div class="banner">
            <div class="banner-user">
                <div class="user-img"></div>
                <div class="user-icons">
                    <a href=""><div class="user-icons-pos icon-logout"></div></a>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <a href=""><li><i class="icon-lightbulb"></i></li></a>
                    <a href=""><li><i class="icon-sitemap"></i></li></a>
                </ul>
            </div>
        </div>
        <div class="mainbody">

        </div>
    </div>
</body>
</html>