:root{
	--primaryColor: #283593;
	--primaryLightColor: #5f5fc4;
	--primaryDarkColor: #001064;
	--secondaryColor: #ff9800;
	--secondaryLightColor: #ffc947;
	--secondaryDarkColor: #c66900;
	--primaryTextColor: #ffffff;
	--secondaryTextColor: #000000;

	--deviceOffLightColor: #aaaaaa;
	--deviceOffColor: #7c7c7c;
	--deviceOffDarkColor: #4d4d4d;

    --errorColor: #eb3939;
    --errorTextColor: #ffffff;
}