:root{
	--primaryColor: #2e7d32;
    --primaryLightColor: #60ad5e;
    --primaryDarkColor: #005005;
    --secondaryColor: #ff9800;
    --secondaryLightColor: #ffc947;
    --secondaryDarkColor: #c66900;
    --primaryTextColor: #ffffff;
    --secondaryTextColor: #000000;

    
	--deviceOffLightColor: #aaaaaa;
	--deviceOffColor: #7c7c7c;
	--deviceOffDarkColor: #4d4d4d;

    --errorColor: #eb3939;
    --errorTextColor: #ffffff;

    --okColor: #61ee36;
    --okTextColor: #000000;
}